 /*RESET*/
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Catamaran', sans-serif;
    background-color: #d8dbdb;
    font-size: 18px;
    max-width: 800px; /*LARGURA MAXIMA*/
    margin: 0 auto;
    padding: 2px;
    color: #565859;
}

main{
    background-color: #f6faff;
}
img{
    max-width: 100%;
}

header{
    width: 98%;
}

.logo{
    max-width: 150px;
    margin: 2% 0 0 5%;
    float: left;
}
.icon-social{
    float: right;
    margin: 3% 3% 2% 0;
}

.social{
    float: right;
    list-style: none; /*retirar as bolinhas*/
}

.social li{
    display: inline;
}

.social li a img{
    width: 30px;
    height: 30px;
}

.banner{
    width: 100%;
}
.banner video{
    width: 100%;
}

.one-col{
    padding: 2%;
}

h1{
    letter-spacing: 1%;
}
p{
    text-align: justify;
}

.button-holder{
    float: right;
    margin: 0 2% 4% 0;
}

.btn{
    float: right;
    background: #303840;
    color: #f6faff;
    text-decoration: none;
    font-weight: 800px;
    padding: 8px 12px;
    border-radius: 8px;
}

.line{
    clear: both;
    height: 2px;
    background-color: #e3e9e9;
    margin: 4% auto;
    width: 96%;
}

.two-col{
    float: left;
    width: 46%;
    padding: 2%;
}
.two-col p{
    padding: 2px;
}
a{
    color: #607cc3;
    text-decoration: none;
}

footer p{
    text-align: center;
    padding-bottom: 1%;
}


/*RESPONSIVIDADE*/

/*PARA DISPOSITIVOS DE ATE 600PX*/
@media(max-width:600px){
    .two-col{
        width: 97%;
    }
}